html,
body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", serif;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "head"
        "main"
        "foot";
    gap: 1em 1em;
}

/* Header */

.site-header {
    grid-area: head;
    display: flex;
    margin-top: 14px;
    height: 1.688rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    margin-left: 0.625rem;
    align-items: center;
    width: 9.375rem;
    height: 1.448rem;
}

.logo img {
    margin-left: 0.625rem;
    width: 1.448rem;
    height: 1.448rem;
}

.logo h1 {
    display: inline;
    padding-left: 0.295em;
    width: 8.395em;
    height: 1.107em;
    font-family: "Roboto", serif;
    font-size: 0.847rem;
    font-weight: 700;
    line-height: 1.082em;
    letter-spacing: -0.03em;
    text-align: left;
}

.nav {
    text-decoration: none;
    color: inherit;
}

nav li {
    display: inline;
    list-style-type: none;
    width: 8.667em;
    height: 1.25em;
    margin-right: 2.25em;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.257rem;
    text-align: right;
}

/* Main */

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1em 1fr 1em;
    gap: 1em 0;
    grid-template-areas:
        ".... htex ...."
        ".... hero ...."
        ".... view ...."
        ".... more ...."
        ".... art1 ...."
        ".... art2 ...."
        ".... art3 ....";
}

/* View */

.view-post {
    grid-area: view;
    width: 100%;
    height: 440px;
}

.view-post h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20.11px;
    text-align: left;
}

.view-post p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.11px;
    text-align: left;
}

/* Hero */

.hero-post {
    grid-area: hero;
    width: 100%;
    height: 191px;
    border-radius: 0.188rem;
    overflow: hidden;
    position: relative;
}

.hero-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 90%;
}

.hero-header {
    grid-area: htex;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    color: #151515;
}

.hero-date {
    margin-top: 5.25rem;
    margin-bottom: 0.5rem;
    width: 23.375rem;
    height: 0.9375rem;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.9425rem;
    text-align: left;
    z-index: 2;
}

.hero-header h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 23.375rem;
    height: 4.375rem;
    font-size: 2rem;
    line-height: 2.16375rem;
    letter-spacing: -0.001875rem;
    font-weight: 700;
    text-align: left;
    z-index: 3;
}

.hero-text {
    margin-top: 0.5rem;
    width: 23.375rem;
    height: 5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.257rem;
    text-align: left;
    z-index: 4;
}

/* Common */

.article-listing-1 {
    grid-area: art1;
}

.article-listing-2 {
    grid-area: art2;
}

.article-listing-3 {
    grid-area: art3;
}

.article-listing-4 {
    grid-area: art4;
}

.article-listing-5 {
    grid-area: art5;
}

.article-listing-6 {
    grid-area: art6;
}

.article-header-1,
.article-header-2,
.article-header-3,
.article-header-4,
.article-header-5,
.article-header-6 {
    padding-top: 238px;
}

.article-listing-1,
.article-listing-2,
.article-listing-3,
.article-listing-4,
.article-listing-5,
.article-listing-6 {
    text-decoration: none;
    color: inherit;
    height: 24.375rem;
    position: relative;
    overflow: hidden;
}

/* Article */

.article-image {
    border-radius: 0.1875rem;
    z-index: -1;
    object-position: center;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 14.5rem;
}

.article-date {
    margin-bottom: 0;
    width: 26.394em;
    height: 1.27em;
    font-size: 0.886rem;
    font-weight: 400;
    line-height: 1.273em;
    text-align: left;
}

.article-title {
    margin-top: 0.333rem;
    margin-bottom: 0.333rem;
    width: 15.583em;
    height: 1.083em;
    font-size: 1.484rem;
    font-weight: 700;
    line-height: 1.082em;
    text-align: left;
    color: #141414;
}

.article-text {
    margin-top: 0;
    width: 23.375em;
    height: 3.75em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25em;
    text-align: left;
    color: #505050;
}

/* View More */

.view-more {
    grid-area: more;
    margin: 24px auto 6px;
    text-align: center;
    width: 23.375rem;
    height: 1.25rem;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.11px;
    text-decoration-line: none;
    text-decoration-style: solid;
    color: #000000;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: foot;
    width: 100%;
    height: 105px;
    background: #202020;
    color: #D7D7D7;
}

footer p {
    margin: 0 auto;
}

.footer-text {
    width: 109px;
    height: 13px;
    font-size: 12px;
    font-weight: 700;
    line-height: 12.98px;
    letter-spacing: -0.03em;
    text-align: center;
}

.footer-copy {
    width: 109px;
    height: 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
}

/* Typography */

/* Media Query */
/* @media (min-width: 480px) {
    body {
        margin: 0 auto;
        max-width: 1085px;
    }

    .site-header {
        width: 98%;
    }

    .logo {
        padding-left: 24px;
    }

    main {
        grid-template-columns: 1em 1fr 1fr 1fr 1em;
        gap: 1em 0;
        grid-template-areas:
            ".... htex htex htex ...."
            ".... hero hero hero ...."
            ".... view view view ...."
            ".... more more more ...."
            ".... art1 art2 art3 ....";
    }

    .article-listing-1 {
        margin-top: 0;
    }

    .hero-post {
        max-width: 979px;
        min-height: 488px;
        width: 100vw;
    }

    .hero-image {
        object-position: 50% 80%;
    }

    .hero-header {
        height: 25%;
    }

    .hero-date {
        margin-bottom: 20px;
    }

    .hero-header h1 {
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
    }

    .hero-text {
        margin-top: 6px;
        width: 100%;
    }
} */