html, 
body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", serif;
}

/* Layout */

body {
    display: grid;
    grid-template-columns: 1em 1fr 1em;
    grid-template-areas:
        ".... head ...." 
        ".... .... ...."
        ".... main ...."
        ".... foot ...."
        ".... .... ....";
    gap: 1em 0;
}

header {
    width: 25.875rem;
    height: 3.688rem;
}

.site-header {
    display: flex;
    grid-area: head;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    width: 140px;
    height: 23.16px;
}

.logo img {
    width: 23.16px;
    height: 23.16px;
}

.logo h1 {
    display: inline;
    padding-left: 4px;
    width: 113.75px;
    height: 15px;
    font-family: "Roboto", serif;
    font-size: 13.55px;
    font-weight: 700;
    line-height: 14.66px;
    letter-spacing: -0.03em;
    text-align: left;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-left: 20px;
}

.header-nav {
}

@media (min-width: 480px) {
}

footer {
    grid-area: foot;
}

main {
    grid-area: main;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "tech"
        "envi"
        "nasa"
        "phys"
        "heal";     
}