html, 
body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", serif;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "head" 
        "main"
        "view"
        "foot";
    gap: 1em 1em;
}

/* Header */

.site-header {
    grid-area: head;
    display: flex;
    padding-top: 0.875rem;
    height: 1.688rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    margin-left: 0.625rem;
    align-items: center;
    width: 9.375rem;
    height: 1.448rem;
}

.logo img {
    margin-left: 0.625rem;
    width: 1.448rem;
    height: 1.448rem;
}

.logo h1 {
    display: inline;
    padding-left: 0.295em;
    width: 8.395em;
    height: 1.107em;
    font-family: "Roboto", serif;
    font-size: 0.847rem;
    font-weight: 700;
    line-height: 1.082em;
    letter-spacing: -0.03em;
    text-align: left;
}

.nav {
    text-decoration: none;
    color: inherit;
}

nav li {
    display: inline;
    list-style-type: none;
    width: 8.667em;
    height: 1.25em;
    margin-right: 2.25em;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.257rem;
    text-align: right;
}


/* Main */

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1em 1fr 1em;
    gap: 1em 0;
    grid-template-areas: 
        "hero hero hero"
        ".... art1 ...."
        ".... art2 ...."
        ".... art3 ...."
}

/* Hero */

.hero-post {
    grid-area: hero;
    width: 100%;
    height: 18.313rem;
    overflow: hidden;
    position: relative;
}

.hero-image {
    width: 100%;
    position: absolute;
    transform: scaleX(-1);
    bottom: 0;
    z-index: 0;
}

.hero-post::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 1;
}

.hero-post header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 1rem;
    position: absolute;
    top: 0%;
    left: 0%;
    color: white;
}

.hero-date {
    margin-top: 5.25rem;
    margin-bottom: 0.5rem;
    width: 23.375rem;
    height: 0.9375rem;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.9425rem;
    text-align: left;
    z-index: 2;
}

.hero-header h1 {
    margin-top: 0;
    margin-bottom: 0;
    width: 23.375rem; 
    height: 4.375rem; 
    font-size: 2rem; 
    line-height: 2.16375rem; 
    letter-spacing: -0.001875rem; 
    font-weight: 700;
    text-align: left;
    z-index: 3;
}

.hero-text {
    margin-top: 0.5rem;
    width: 23.375rem;
    height: 5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.257rem;
    text-align: left;
    z-index: 4;
}

/* Article-1 */

.article-listing {
    grid-area: art1;
    margin-top: 1rem;
    text-decoration: none;
    color: inherit;
    height: 24.375rem;
}

.article-image {
    border-radius: 0.1875rem;
    width: 100%;
    height: 14.5rem;
}

.article-date {
    margin-bottom: 0;
    width: 26.394em;
    height: 1.27em;
    font-size: 0.886rem;
    font-weight: 400;
    line-height: 1.273em;
    text-align: left;
}

.article-title {
    margin-top: 0.333rem;
    margin-bottom: 0.333rem;
    width: 15.583em;
    height: 1.083em;
    font-size: 1.484rem;
    font-weight: 700;
    line-height: 1.082em;
    text-align: left;
    color: #141414;
}

.article-text {
    margin-top: 0;
    width: 23.375em;
    height: 3.75em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25em;
    text-align: left;
    color: #505050;
}

/* Article-2 */

.article-listing-2 {
    grid-area: art2;
    text-decoration: none;
    color: inherit;
    height: 24.375rem;
    position: relative;
    overflow: hidden;
}

.article-listing-2 .article-image {
    z-index: -1;
    object-position: center;
    object-fit: cover;
    position: absolute;
    width: 374px;
    height: 232px;
}

.article-header-2 {
    padding-top: 238px;
}

/* Article-3 */

.article-listing-3 {
    grid-area: art3;
    text-decoration: none;
    color: inherit;
    height: 24.375rem;
    position: relative;
    overflow: hidden;
}

.article-listing-3 .article-image {
    z-index: -1;
    object-position: center;
    object-fit: cover;
    position: absolute;
    width: 374px;
    height: 232px;
}

.article-header-3 {
    padding-top: 238px;
}

/* View More */

.view-more {
    grid-area: view;
    margin: 0 auto;
    text-align: center;
    width: 23.375rem;
    height: 1.25rem;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.11px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    color: #000000;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: foot;
    width: 414px;
    height: 105px;
    background: #202020;
    color: #D7D7D7;
}

footer p {
    margin: 0 auto;
}


/* Typography */

/* Media Query */
@media (min-width: 480px) {
}
